<div class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <%= form_for(apology) do |f| %>
      <%= render partial: 'shared/errors', locals: {object: apology} %>

      <div id="apology-form" class="field">
        <div class="character-count-container"><span id="character-count"><%= apology.character_max %></span> characters remaining</div>
        <%= f.text_area :body, autofocus: true, required: true, placeholder: "Hey Girl, I'm sorry I was such a jerkface...", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-md btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let characterMax = <%= apology.character_max %>;
    let textBox = document.querySelector('#apology-form textarea')
    let formInputArea = document.querySelector('#apology-form')
    let submitButton = document.querySelector('input[type=submit]')

    let displayRemainingCharacters = function(){
      let currentCount = textBox.value.length
      let remainingCharacters = characterMax - currentCount

      document.querySelector('#character-count').textContent = remainingCharacters

      if (currentCount <= characterMax) {
        formInputArea.classList.remove('exceeded-limit')
        submitButton.disabled = false
        submitButton.classList.remove('btn-secondary')
      } else {
        formInputArea.classList.add('exceeded-limit')
        submitButton.disabled = true
        submitButton.classList.add('btn-secondary')
      }
    }

    document.addEventListener('keyup', displayRemainingCharacters)
  });
</script>
