<p id="notice"><%= notice %></p>

<div class="form-box">
  
  <p>
    <strong>Name:</strong>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default btn-sm" %> 
  <%= link_to 'Cancel', users_path, class: "btn btn-default btn-sm"  %>

</div> <!-- form-box -->

