<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Page Name" %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <% unless @page.new_record? %>
    <div class="field">
      <%= f.label :slug, "Permalink" %><br>
      <%= f.text_field :slug %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, cols: 40, rows: 7 %>
  </div>
  <div class="field">
    <%= f.label :publish_status, "Set Publish Status" %><br>
    <%= f.select :publish_status, Page::PUBLISH_STATUS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
