<p id="notice"><%= notice %></p>

<div class="apology-wrapper">
  
  <div class="create-button-wrapper">
    <% if current_user %>
    <%= link_to " Edit", edit_page_path, class: "btn btn-default btn-sm fa fa-pencil" %>
    <% end %>
  </div> <!-- create-button-wrapper -->
     
  <article class="pages">
    <%= image_tag("ryan-gosling01.jpg") %>
    <div class="note">
      <h3><%= @page.heading %></h3>
      <p><%= simple_format(@page.body) %></p>
    </div> <!-- note -->
  </article>
    <%= render "layouts/social_icons" %>

</div> <!-- apology-wrapper -->


