<!DOCTYPE html>
<html>
<head>
  <title><%= raw page_title %></title>
  <link href='https://fonts.googleapis.com/css?family=Halant:400,300|Rock+Salt' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <!-- Check device width for responsive media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <%= favicon_link_tag "favicon.ico" %>
  
</head>
<body>
  <%= render "layouts/header" %>
  
  <div class="container">

  <%= yield %>
     
  </div> <!-- container -->

</body>
</html>
