<!DOCTYPE html>
<html>
<head>
  <title><%= raw page_title %></title>
  <link href='https://fonts.googleapis.com/css?family=Halant:400,300|Rock+Salt' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <%= render "layouts/header" %>

  <%= yield %>
     
  </div> <!-- container -->

</body>
</html>
